html 
    head 
        title= titulo 
        meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'")
    body 
        div.container  
            input(type="text" placeholder="nombre" id="nombre")
            input(type="text" placeholder="cantidad" id="cantidad")
            input(type="text" placeholder="lugar" id="lugar")
            input(type="text" placeholder="tipo" id="tipo")
            button(id="btnAgregar") agregar producto
        script(src="funciones.js") 
        
